EXPO_PUBLIC_DEEPGRAM_API_KEY= # Deepgram api key
EXPO_PUBLIC_GROQ_API_KEY= # Groq api key
EXPO_PUBLIC_GROQ_MODEL=llama-3.3-70b-versatile
EXPO_PUBLIC_DEEPGRAM_URL=https://api.deepgram.com/v1/listen?model=nova-2&language=fr&smart_format=true&punctuate=true
EXPO_PUBLIC_GROQ_URL=https://api.groq.com/openai/v1/chat/completions
